* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background: linear-gradient(to bottom right, #ff8383, #dbeafe);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    text-align: center;
    width: 100%;
    max-width: 650px;
    padding: 20px;
}

h1 {
    font-size: 2.2rem;
    font-weight: 700;
    color: #1e293b;
    margin-bottom: 40px;
}

h1 span {
    font-size: 2.5rem;
    margin-right: 10px;
}

.card {
    background: rgb(255, 205, 205);
    padding: 40px;
    border-radius: 22px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    transition: 0.2s ease;
}

.fact-text {
    font-size: 1.2rem;
    margin-bottom: 25px;
    color: #334155;
}

button {
    border: none;
    padding: 14px 30px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background: linear-gradient(to right, #3b82f6, #2563eb);
    display: flex;
    align-items: center;
    gap: 8px;
    transition: 0.2s;
    margin: 0 auto;
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 16px rgba(37, 99, 235, 0.3);
}

.icon {
    font-size: 1.2rem;
}
